.page1{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.logo{
    
    float: left;
    padding: 20px;
}

.image{
    padding: 50px;
}

.firstDiv{
    height: 650px;
    box-shadow: 10px 5px 5px rgb(236, 234, 234);
}

.secondDiv{
    padding-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
}

.input{
    border: none;
    padding-top: 50px;
}

.btn-img{
  font-size: 16px;
 
  margin-left: 110px;
 padding: 15px;
  background-color: rgb(65, 134, 238);
  color: white;
  border: none;
  border-radius: 15px;
}

.btn-img:hover{
    background-color: white;
    color:rgb(65, 134, 238) ;
    border: 1px solid rgb(65, 134, 238) ;
}
.fa{
    float: right;
}

.thirdDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    float: right;
}

.para{
    font-size: 20px;
    border: none;
    background-color: transparent;
}

.under{
    color: blue;
}




/* Responsive */


@media  only screen and (max-width: 1000px){
    .page1{
        display: grid;
        grid-template-columns:repeat(1,1fr);
    }
}

@media  only screen and (max-width: 999px) and (min-width:675px){
    .page1{
        display: grid;
        grid-template-columns:repeat(1,1fr);
    }

    .image{
        height: 600px;
        width: 600px;
    }
}